* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 1px solid;
    border-radius: 2px;
}

.header {
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn1 {
    margin-right: 36px;
}

.header-btn1-btn {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 16px 58px;
    background-color: #10325d;
    cursor: pointer;
}

.header-btn1-btn:hover {
    background-color: #fff;
    color: #000;
}

.header-btn2 {
    cursor: pointer;
}

.footer-content {
    width: 100%;
    background-color: #10325d;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    overflow: hidden;
}

.ewm {
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-header {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ewm-ewm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
}

.ewm-span {
    font-size: 12px;
    margin-top: 16px;
}

.hr {
    height: 5px;
    background-color: #c36d31;
    padding-left: 32px;
    position: absolute;
    top: 0;
    width: 200%;
}

.footer-body {
    position: relative;
    padding-top: 36px;
    padding-bottom: 40px;
    display: flex;
}

.footer-body-left {
    color: #fff;
}

.footer-body-left-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 32px;
}

.footer-body-left-content {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.icon {
    background-color: #c36d31;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-body-right {
    color: #fff;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-body-right-item {
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
}

.footer-footer {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1240px;
    padding: 24px 32px;
    color: #fff;
}

.section1 {
    width: 100%;
    position: relative;
    margin-top: 100px;
    background: url() no-repeat;
    background-size: cover;
    padding-top: 320px;
    padding-bottom: 192px;
    overflow: hidden;
}

.section1-content {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1240px;
    position: relative;
}

.section1-content-title {
    font-size: 48px;
    line-height: 1.5;
    padding-top: 20px;
    color: #fff;
}

.section1-content-button {
    color: #fff;
    background-color: #c36d31;
    border: 1px solid #c36d31;
    font-size: 20px;
    padding: 29px 40px;
    cursor: pointer;
    margin-top: 48px;
    font-weight: 600;
}

.section1-content-button:hover {
    color: #c36d31;
    background-color: transparent;
}

.section1-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    top: 0;
}

.section1-text {
    color: #f5f5dc;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 100%;
}

.section1-text-icon {
    line-height: 36px;
    display: flex;
    width: 36px;
    height: 36px;
    background-color: #c36d31;
    border-radius: 50%;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
}

.section1-text-item {
    display: flex;
    align-items: center;
    line-height: 36px;
    white-space: nowrap;
}

.section1-text-icon-text {
    display: inline-block;
    width: 4px;
    height: 22px;
    background-color: #fff;
    transform: rotate(45deg);
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 120px;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1240px;
    margin: 0 auto;
}

.section2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 20px;
    line-height: 30px;
}

.section2-title {
    font-size: 48px;
    color: #000;
    margin-bottom: 32px;
    font-weight: 600;
    line-height: 1.16;
}

.section3 {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1240px;
    margin: 0 auto;
}

.section3-content {
    padding-bottom: 96px;
}

.section3-content-group {
    display: flex;
    gap: 20px;
}

.section3-content-item {
    width: calc((100% - 60px) / 4);
    padding: 40px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #c36d31;
}

.section3-content-item-num {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.section3-content-item-name {
    font-size: 14.08px;
    color: #000;
}

.section3-date {
    font-size: 14.08px;
    margin-top: 48px;
    float: right;
}

.section4 {
    background-color: #eceef0;
}

.section4-content {
    height: 680px;
    display: flex;
    gap: 40px;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1240px;
    align-items: center;
}

.section5 {
    background-image: url();
    background-size: cover;
    margin: 0 auto;
    height: 432px;
    position: relative;
}

.section5-cover {
    background-color: #10325d;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0%, 75% 0, 100% 100%, 25% 100%);
}

.section5-content {
    position: relative;
    padding: 100px 32px;
    margin: 0 auto;
    max-width: 1240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.section5-title {
    color: #fff;
    font-size: 48px;
    margin-bottom: 32px;
    font-weight: 600;
    line-height: 1.16;
}

.section5-text {
    width: 45%;
    text-align: center;
    font-size: 16px;
    line-height: 2;
}

.section6 {
    padding: 120px 32px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section6-item {
    width: calc((100% - 40px) / 3);
    border: 1px solid #c36d31;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.column-reverse {
    flex-direction: column-reverse;
}

.section6-item-text {
    padding: 51.2px 32px;
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.drawer-cover {
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: 99;
}

.drawer {
    position: fixed;
    padding: 0;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    overflow-y: scroll;
}

.drawer::-webkit-scrollbar {
    width: 6px;
}

.drawer::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border-radius: 3px;
}

.drawer-header {
    position: fixed;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    width: 400px;
}

.drawer-header-btn {
    padding: 1px 6px;
    font-size: 22.08px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drawer-header-btn-icon {
    display: inline-block; 
    width: 22.08px; 
    height: 22.08px;
}

.drawer-header-btn:hover {
    color: #409eff;
}

.drawer-body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-top: 92px;
}

.drawer-item {
    padding-left: 20px;
    height: 78.08px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c6c6c6;
    cursor: pointer;
}

.drawer-item:hover {
    background-color: #c6c6c6;
}

.drawer-footer-btn {
    padding-left: 18px;
    padding-bottom: 29.04px;
    padding-top: 29.04px;
}

.drawer-footer-btn button {
    margin: 0;
}

.drawer-footer-text {
    padding-left: 18px;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
}

.drawer-footer-wonder {
    height: 78.08px;
    color: #000;
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.section7 {
    padding: 0 32px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section7-title {
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 80px;
    text-align: center;
}

.section7-content {
    padding: 0 40px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.section7-content-item { 
    min-width: calc(100% + 40px);
    overflow: hidden;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    /* transition: transform 0.8s ease; */
}

.section7-content-text {
    display: flex; 
    flex-direction: column;
    gap: 24px;
}

.section7-content-text-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.section7-content-text-text {
    font-size: 20px;
    color: #999;
}

.section7-content-text-date {
    font-size: 20px;
    color: #c36d31
}

.section7-content-text-button button{
    padding: 17px 32px;
    color: #fff;
    background-color: #10325d;
    cursor: pointer;
}

.section7-content-text-button button:hover {
    background-color: #fff;
    border: 1px solid #10325d;
    color: #10325d;
}

.section8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 32px;
    max-width: 1240px;
    margin: 0 auto;
    flex-direction: column;
}

.section8-title {
    color: #000;
    font-size: 48px;
    font-weight: 600;
}



